BOT_TOKEN=  # Telegram bot token
ADMIN_ID=  # Admin user ID
SECRET_KEY=  # Secret key for session management
ENV=development  # Environment (development/production)
FLASK_PORT=5000  # Port for Flask app
POSTGRES_PORT=5432  # Port for PostgreSQL
POSTGRES_DB=type_db  # Database name
POSTGRES_USER=type_user  # Database user
POSTGRES_PASSWORD=  # Database password