# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache
migrations

# Other:
words
mistakes.txt
certs
*.db
*temp*
app/static/img/backs/secure/*
app/secure_static/*
*.csv