# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# TypeScript compiled output
/app/static/js/dist/
*.js.map

# Node modules
node_modules/
package-lock.json

# Other:
mistakes.txt
certs
*.db
*temp.*
app/static/img/backs/secure/*
app/secure_static/*
errors.csv
words.csv
backups
TODO.local.md