alembic==1.15.2
APScheduler==3.11.0
attrs==25.4.0
beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
DAWG2-Python==0.9.0
Flask==3.1.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.2.1
gunicorn==23.0.0
h11==0.16.0
idna==3.10
importlib_metadata==8.7.0
init-data-py==0.2.6
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.2
outcome==1.3.0.post0
packaging==25.0
psycopg2-binary==2.9.11
pymorphy3==2.0.6
pymorphy3-dicts-ru==2.4.417150.4580142
PySocks==1.7.1
pyTelegramBotAPI==4.27.0
python-dotenv==1.1.0
requests==2.32.3
selenium==4.34.0
setuptools==80.9.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
SQLAlchemy==2.0.40
telebot==0.0.5
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.14.1
tzlocal==5.3.1
urllib3==2.4.0
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
WTForms==3.2.1
zipp==3.21.0
