.clip {
  background-color: var(--background-color);
  height: 100vh;
  font-size: 1.5rem;
  overflow: hidden;
}

.wordContainer {
  margin-top: 10%;
  height: 60%;
  /* background-color: lightcoral; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.answerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.backgroundMedia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}