.clip {
  background-color: aliceblue;
  height: 100vh;
  font-size: 1.5rem;
}

.wordContainer {
  margin-top: 10%;
  height: 60%;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}