body {
    background-color: var(--frame-background-color);
    background-image: var(--back-img);
    background-size: 100vh;
    height: 100vh;
    overflow: hidden;
    transition: background-color .5s ease;
}

.word-cont {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--word-block-height);
    z-index: -10;
}

.word {
    transition: color .5s ease, top .3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: var(--word-size);
    cursor: text;
    color: var(--main-color);
    z-index: -10;

    background-color: var(--word-back);
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.missing-letter {
    box-sizing: border-box;
    width: 20px;
    margin: 3px 4px;
    display: block;
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: text;
    user-select: all;
    transition: margin .2s ease, width .2s ease;
    z-index: -10;
}

.shrink .missing-letter {
    margin: 8px 0;
    margin-bottom: 4px;
    width: 16px;
}

.answers {
    position: absolute;
    bottom: 20vh; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 10;
}

.answers button.answer {
    width: 100px;
    height: 100px;
    max-width: calc(100vw / 3);
    max-height: calc(100vw / 3);
    margin: 5px;
    font-size: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: .1s;
    z-index: 10;

    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);

    font-weight: 900;
}

.answers button.answer:hover {
    filter: brightness(.95);
}

.loading {
    z-index: 10000;
    background: linear-gradient(90deg, var(--back-color) 25%, var(--frame-background-color) 50%, var(--back-color) 75%);
    background-size: 100% 100%;
    animation: shimmer 2s infinite;
    color: transparent;
    position: fixed;
    width: 400vw;
    height: 100vh;
    transition: opacity .3s;
}

@keyframes shimmer {
    0% {
        left: -300vw;
    }
    100% {
        left: 0vw;
    }
}

.correct canvas {
    opacity: .2;
    background-color: #15ff00;
}

.incorrect canvas {
    opacity: .2;
    background-color: #ff0000;
}

.correct .word {
    color: color-mix(in srgb, var(--main-color) 80%, #1c9900 60%);
    text-shadow: 0 0 10px #8fff763f, 0 0 20px #8fff763f, 0 0 30px #8fff763f;
}

.incorrect .word {
    color: #ff3c00
}

.menu-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    z-index: 100;
    background-color: var(--main-color);
    transition: opacity .3s ease;

    animation: show .2s ease 0s 1 normal forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .5;
    }
}

.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--back-color);
    z-index: 1001;
    padding: 30px 20px;
    border-radius: 10px;
    width: 75vw;
    box-sizing: border-box;
    max-width: 420px;
    opacity: 0;
    display: none;
    transition: opacity .3 ease;
}

.menu .buttons {
    display: block;
}

.menu .buttons .block {
    margin-top: 10px;
}

.menu button {
    border: none;
    background-color: var(--secondary-color);
    display: block;
    padding: 10px 15px;
    padding-right: 30px;
    display: flex;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.menu button span {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.menu button p {
    line-height: 24px;
    font-size: 16px;
    text-align: left;
}

.touch-area {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

canvas {
    transition: background-color 0 linear, opacity .4 ease;
    z-index: -1000;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* opacity: 0; */
    filter: blur(50px);
}

.info {
    text-align: center;
    font-size: 12px;
    margin-top: 24px;
}