:root {
    --fire-1: radial-gradient(rgb(255 141 0) 20%, rgba(255, 80, 0, 0) 70%);
    --fire-2: radial-gradient(rgb(255, 81, 0) 20%, rgba(255, 80, 0, 0) 70%);
    --fire-3: radial-gradient(rgb(255, 51, 0) 20%, rgba(255, 80, 0, 0) 70%);
    --fire-4: radial-gradient(rgb(255, 0, 0) 20%, rgba(255, 80, 0, 0) 70%);
}

body {
    background-color: var(--back-color);
    z-index: -1;
    position: absolute;
}

iframe {
    transition: all .3s ease;
    border: none;
    /* pointer-events: none; */
    z-index: -1;
}
.fullscreen iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translate(0, 0);
}
.partscreen iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 90vh;
    width: calc(90vh * 9 / 16);
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.fullscreen iframe.next {
    top: 100vh;
    transform: translateY(0);
}
.partscreen iframe.next {
    top: 100vh;
    transform: translate(-50%, 0);
}

.fullscreen iframe.prev {
    top: -100vh;
    transform: translateY(0);
}
.partscreen iframe.prev {
    top: -100vh;
    transform: translate(-50%, 0);
}

button {
    border: none;
    background-color: transparent;
    padding: 12px;
    padding-bottom: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s;
    color: var(--main-color);
    z-index: 1000;
}

.partscreen .settings {
    position: fixed;
    top: 12px;
    right: 12px;
    opacity: .5;
    padding: 10px;
}

.fullscreen .settings {
    position: fixed;
    top: 12px;
    right: 12px;
    opacity: .5;
    padding: 10px;
}

.fullscreen .filters {
    position: fixed;
    top: 48px;
    right: 12px;
    opacity: .5;
    padding: 10px;
}

.fullscreen .error {
    display: none;
}

.partscreen .error {
    position: fixed;
    top: 48px;
    right: 12px;
    opacity: .5;
    padding: 10px;
}

.strike-block {
    position: fixed;
    left: 50%;
    top: var(--tg-safe-area-inset-top);
    transform: translateX(-50%);
    background-color: var(--strike-background-color);
    z-index: 10;
    border-radius: 10px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    height: var(--tg-content-safe-area-inset-top);
    box-sizing: border-box;
    padding: calc((var(--tg-safe-area-inset-top) - 14px) / 2) 0;
}

.strike-block p {
    line-height: 100%;
    background-color: #00000036;
    box-sizing: border-box;
    margin: auto 0;
    padding: 6px 16px;
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

@keyframes heartbeat {
    0%, 100% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.05);
    }
}

/* .partscreen .strike-block {
    top: calc(5vh + 48px);
}

.fullscreen .strike-block {
    top: calc(48px);
} */

.fire {
    font-size: 24px;
    filter: blur(0.02em);
    -webkit-filter: blur(0.02em);
    position: fixed;
    width: 120px;
    height: 10em;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .7s ease;
    position: relative;
}

.fullscreen .fire {
    top: -110px;
}

.partscreen .fire {
    top: -50px;
}

.particle {
    animation: rise 1s ease-in infinite;
    background-image: var(--particle-color);
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    --particle-size: 64px;
    width: var(--particle-size);
    height: var(--particle-size);
}

@keyframes rise {
    from {
        opacity: 0;
        transform: translateY(0) scale(1);
    }
    25% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-10em) scale(0);
    }
}