body {
    padding: 24px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.cont {
    max-width: 540px;
    margin: auto;
    margin-top: var(--tg-content-safe-area-inset-top);
    padding-top: 3px;
}

button {
    width: 100%;
    text-align: left;
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 10px 14px;
    border-radius: 5px;
    color: var(--tg-theme-text-color);
    text-decoration: none;
    font-size: 16px;
}

.block {
    padding-top: 20px;
}

.cont * {
    margin-top: 5px;
}

h1 {
    line-height: 100%;
    margin-bottom: 15px;
}

.title {
    margin-top: 30px;
}

h2 {
    margin-bottom: 12px;
    margin-top: 18px;
}

.previews {
    margin-top: 18px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.previews img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    cursor: pointer;
}

p {
    margin-top: 5px;
    color: color-mix(in srgb, var(--main-color) 90%, var(--frame-background-color) 10%);
}

.filters {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.filter {
    display: block;
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 10px 14px;
    border-radius: 5px;
    color: var(--tg-theme-text-color);
    text-decoration: none;
}

.filter.selected {
    background-color: color-mix(in srgb, var(--tg-theme-secondary-bg-color) 80%, var(--tg-theme-text-color) 20%);
}

input[type="time"] {
    text-align: left;
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 10px 14px;
    border-radius: 5px;
    color: var(--tg-theme-text-color);
    text-decoration: none;
    font-size: 16px;
    border: none;
    outline: none;
}

.notification-block {
    display: flex;
    gap: 5px;
}