body {
    padding: 24px;
}

.cont {
    max-width: 540px;
    margin: auto;
}

button {
    padding-right: 2px;
    text-align: center;
    width: 36px;
    height: 36px;
}

.block {
    margin-top: 28px;
}

.previews {
    margin-top: 18px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.previews img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    cursor: pointer;
}

p {
    margin-top: 5px;
    color: color-mix(in srgb, var(--main-color) 90%, var(--frame-background-color) 10%);
}

.task {
    display: block;
    background-color: rgb(36, 36, 36);
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}