@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
  font-family: 'Manrope', sans-serif;
  
  --color-primary: #ffffff;
  --color-secondary: #747474;
  --background-color: #000000;

  --answer-button-size: 7rem;
  --word-size: 1.5rem;
  --word-back-color: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}