.answerContainer {
  margin: 4px;
  width: var(--answer-button-size);
  height: var(--answer-button-size);
  background-color: var(--color-accent);
  border-radius: 15%;
  background-color: var(--word-back-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 900;
  color: var(--color-primary);
  backdrop-filter: blur(10px);
  font-size: var(--word-size);
}