<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>type — Лента слов</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/light.css') }}"> -->

    <link rel="icon" href="{{ url_for('static', filename='img/fav.ico') }}" type="image/x-icon">
</head>
<body>
    Авторизация...
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
</body>
</html>