<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=check,error,search" />
</head>
<body>
    <div class="loading"></div>

    <div class="touch-area"></div>
    <canvas></canvas>

    <div class="word-cont">
        <p class="word"></p>
    </div>

    <!-- <div class="answers-cont"> -->
        <div class="answers">
        </div>
    <!-- </div> -->

    <div class="menu">
        <div class="buttons">
            <button id="mistake" onclick="sendReport()">
                <span class="material-symbols-rounded notranslate">error</span>
                <p>Сообщить об ошибке в задании</p>
            </button>
            <button id="search" onclick="window.open(`https://yandex.ru/search/?text=${encodeURIComponent(document.querySelector('.word').textContent)}`, '_blank')">
                <span class="material-symbols-rounded notranslate">search</span>
                <p>Найти слово в интернете</p>
            </button>
            <button id="search" onclick="window.open('yandexmusic://', '_blank')" style="margin-top: 10px;">
                <span class="material-symbols-rounded"><img src="{{ url_for('static', filename='img/yandex-music.svg') }}" alt="Yandex Music Logo"></span>
                <p>Включить музыку</p>
            </button>
        </div>
    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{{ url_for('static', filename='js/applyColorTheme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiping.js') }}"></script>
    <script src="{{ url_for('static', filename='js/content.js') }}"></script>
</body>
</html>