<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>type — Лента слов</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/light.css') }}"> -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close,error" />

    <link rel="icon" href="{{ url_for('static', filename='img/fav.ico') }}" type="image/x-icon">
</head>
<body>
    <iframe src="/get_frame?{{ params }}" class="current"></iframe>
    <iframe src="/get_frame?{{ params }}" class="next"></iframe>

    <button class="error" onclick="document.querySelector('.current').contentWindow.switchMenu()">
        <span class="material-symbols-rounded notranslate">error</span>
    </button>

    {% if strike != None %}
    <div class="strike-block">
        <p>{{ strike }}</p>
    </div>
    {% endif %}

    {% if demo %}
    <div class="demo-message">
        <p onclick="window.location.href = 'https://t.me/type_eleday_bot'">Перейти в полную версию</p>
        <span class="material-symbols-rounded notranslate" onclick="closeMessage()">close</span>
    </div>
    {% endif %}

    <div class="fire" id="fire"></div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        Telegram.WebApp.expand();
        Telegram.WebApp.requestFullscreen();
        Telegram.WebApp.lockOrientation();
    </script>

    <script src="{{ url_for('static', filename='js/applyColorTheme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/framesManaging.js') }}"></script>

    {% if demo %}
    <script>
        function closeMessage() {
            if (document.querySelector('.demo-message')) {
                document.querySelector('.demo-message').remove();
            }
        }
    </script>
    {% endif %}
</body>
</html>