<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>type — Настройки</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back_ios" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='img/fav.ico') }}" type="image/x-icon">

    <style>
        body {
            background-color: var(--back-color);
            color: var(--main-color)
        }
    </style>
</head>
<body>
    <div class="cont">
        В разработке...
    </div>

    <script src="{{ url_for('static', filename='js/applyColorTheme.js') }}"></script>
    <script>
        function backToReferrer() {
            const referrer = new URLSearchParams(window.location.search).get('referrer');
            console.log(referrer);
            
            if (referrer) {
                window.location.href = referrer;
            } else {
                window.location.href = '/';
            }
        }
    </script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{{ url_for('static', filename='js/tg.js') }}"></script>
</body>
</html>