<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>type — Настройки</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back_ios" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='img/fav.ico') }}" type="image/x-icon">

    <style>
        body {
            background-color: var(--back-color);
            color: var(--main-color)
        }
    </style>
</head>
<body>
    <div class="cont">
        <button class="back" onclick="backToReferrer()">
            <span class="material-symbols-rounded notranslate">arrow_back_ios</span>
        </button>

        <div class="block">
            <h1>Фильтры</h1>

            <h2>По номеру задания</h2>
            <div class="filters">
                <a href="/" class="filter">Все задания</a>
                {% for task in tasks %}
                    <a href="/task/{{ task }}" class="filter">{{ task }}. {{ tasks[task] }}</a>
                {% endfor %}
            </div>

            <h2>По категории (ФИПИ)</h2>
            <div class="filters">
                <a href="/" class="filter">Все задания</a>
                {% for category in categories %}
                    <a href="/category/{{ category }}" class="filter">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="block info">
            <h1>О проекте</h1>
            <p><b>type</b> — бесконечная лента слов в формате ТикТок для подготовки к ЕГЭ по русскому языку. В каждом слове есть один пропуск, который нужно правильно заполнить одним из вариантов внизу экрана.</p>
            <p>База слов сформирована в атоматическом режиме с помощью ИИ и в данный момент прорабатывается</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/applyColorTheme.js') }}"></script>
    <script>
        function backToReferrer() {
            const referrer = new URLSearchParams(window.location.search).get('referrer');
            console.log(referrer);
            
            if (referrer) {
                window.location.href = referrer;
            } else {
                window.location.href = '/';
            }
        }
    </script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{{ url_for('static', filename='js/tg.js') }}"></script>
</body>
</html>