<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>type — Настройки</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back_ios" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='img/fav.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="cont">
        <div class="settings-block">
            <h2>Настройки</h2>
            <div class="settings-list">
                <div class="setting-item" id="strike" onclick="handleClick('strike')">
                    <span class="setting-name">Страйк</span>
                    {% if settings.strike %}
                        <span class="setting-value on">Включен</span>
                    {% else %}
                        <span class="setting-value off">Выключен</span>
                    {% endif %}
                </div>
                <div class="setting-item" id="notification" onclick="handleClick('notification')">
                    <span class="setting-name">Уведомления</span>
                    {% if settings.notification %}
                        <span class="setting-value on">Включены</span>
                    {% else %}
                        <span class="setting-value off">Выключены</span>
                    {% endif %}
                </div>
                <div class="time-control" id="notification" style="margin-top: {% if settings.notification %}-4px{% else %}-52px{% endif %}">
                    <label for="time-input" class="time-label">Время:</label>
                    <input type="time" id="time-input" class="time-input" value="{{ settings.notification_time.strftime('%H:%M') }}">
                </div>
                <div class="setting-item" id="day_results" onclick="handleClick('day_results')">
                    <span class="setting-name">Итоги дня</span>
                    {% if settings.strike %}
                        <span class="setting-value on">Включены</span>
                    {% else %}
                        <span class="setting-value off">Выключены</span>
                    {% endif %}
                </div>
                <div class="time-control" id="day_results" style="margin-top: {% if settings.day_results %}-4px{% else %}-52px{% endif %}">
                    <label for="time-input" class="reminder-label">Время:</label>
                    <input type="time" id="time-input" class="time-input" value="{{ settings.day_results_time.strftime('%H:%M') }}">
                </div>
                {% if admin %}
                <div class="setting-item" id="admin" onclick="handleClick('admin')">
                    <span class="setting-name">Админка</span>
                    {{ admin }}
                    {% if admin == 1 %}
                        <span class="setting-value off">Выключена</span>
                    {% elif admin == 2 %}
                        <span class="setting-value on">Включена</span>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="stats-block">
            <h2>Cтатистика</h2>
            <div class="stats-grid">
              <div class="stat-item">
                <div class="stat-label">Решено слов</div>
                <div class="stat-value">128</div>
              </div>
              <div class="stat-item">
                <div class="stat-label">Ошибок</div>
                <div class="stat-value">15</div>
              </div>
              <div class="stat-item">
                <div class="stat-label">Процент правильных</div>
                <div class="stat-value">88.3%</div>
              </div>
              <div class="stat-item">
                <div class="stat-label">Среднее время</div>
                <div class="stat-value">4.7 сек</div>
              </div>
              <div class="stat-item">
                <div class="stat-label">Лучшая серия</div>
                <div class="stat-value">34</div>
              </div>
            </div>
          </div>
          
    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{{ url_for('static', filename='js/applyColorTheme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
</body>
</html>